<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->
<!-- Begin Head -->

<head>
    <title>赛事管理系统</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">

    <!--Start Style -->
    <link rel="stylesheet" type="text/css" href="static/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/icofont.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" id="theme-change" type="text/css" href="">
    <script src="static/js/api.js"></script>
    <script src="static/js/jquery.min.js"></script>

    <script>
        window.onload = function () {
            let getCookie = function (name) {
                let arr;
                let reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
                if (arr = document.cookie.match(reg)) {
                    return arr[2];
                } else
                    return null;
            }
            let dataClubJson;
            let str = getCookie("returnClub")
            dataClubJson = $.parseJSON(decodeURI(str));

            for (let data of dataClubJson.data) {
                document.getElementById("hometeam").options.add(new Option(data.clubname, data.clubid));
                document.getElementById("awayteam").options.add(new Option(data.clubname, data.clubid));
                document.getElementById("winteam").options.add(new Option(data.clubname, data.clubid));
            }
        }
    </script>

</head>

<body>
<div class="loader">
    <div class="spinner">
        <img src="static/picture/loader.gif" alt="">
    </div>
</div>
<!-- Main Body -->
<div class="page-wrapper">
    <div th:replace="admintemplate.html::title"></div>
    <div th:replace="admintemplate.html::aside"></div>
    <div class="page-wrapper">
        <div class="main-content">
            <!-- Page Title Start -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-title-wrapper">
                        <div class="page-title-box">
                            <h4 class="page-title">录入赛事信息</h4>
                        </div>
                        <div class="breadcrumb-list">
                            <ul>
                                <li class="breadcrumb-link">
                                    <a href="javascript:manageClub()"><i class="fas fa-home mr-2"></i>赛事管理系统</a>
                                </li>
                                <li class="breadcrumb-link active">录入赛事信息</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- From Start -->
            <div class="from-wrapper">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>添加赛事</h4>
                                <p class="card-desc">请在下方输入对应信息
                                    <code> 赛事id </code> 将自动生成
                                </p>
                            </div>
                            <div class="card-body">
                                <form class="separate-form" method="get">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="row">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="hometeam" class="col-form-label">主场战队</label>
                                                    <select id="hometeam"
                                                            class="select2 form-control table-wrapper"
                                                            name="hometeam">

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="awayteam" class="col-form-label">客场战队</label>
                                                    <select id="awayteam"
                                                            class="select2 form-control table-wrapper"
                                                            name="awayteam">

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="starttime" class="col-form-label">开始时间</label>
                                                    <input class="form-control" type="text"
                                                           placeholder="开始时间"
                                                           id="starttime" name="starttime">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="matchtime" class="col-form-label">比赛用时</label>
                                                    <input class="form-control" type="text"
                                                           placeholder="比赛用时"
                                                           id="matchtime" name="matchtime">
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="winteam" class="col-form-label">获胜战队</label>
                                                    <select id="winteam"
                                                            class="select2 form-control table-wrapper"
                                                            name="winteam">

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <div class="form-group">
                                                    <label for="videoweb" class="col-form-label">视频地址</label>
                                                    <input class="form-control" type="text"
                                                           placeholder="视频地址"
                                                           id="videoweb" name="videoweb">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-0">
                                            <button class="btn btn-primary" type="submit"
                                                    onclick="javascript:addMatch()">提交
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <div class="ad-footer-btm">
                <p>Copyright © 2021.Company name All rights reserved.<a target="_blank"
                                                                        href="https://sc.chinaz.com/moban/">网页模板</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Script Start -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/swiper.min.js"></script>
<script src="static/js/apexcharts.min.js"></script>
<script src="static/js/control-chart-apexcharts.js"></script>
<!-- Page Specific -->
<script src="static/js/nice-select.min.js"></script>
<!-- Custom Script -->
<script src="static/js/custom.js"></script>
</body>

</html>