<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>赛事管理系统</title>
    <link rel="stylesheet" href="../static/newpage/style.css">
    <script src="/static/js/api.js"></script>
    <script src="static/js/jquery.min.js"></script>
</head>

<body>
<div class="content">
    <div class="left">
        <img src="../static/newpage/asset/img2.png" class="people p-animtion" alt="people">
        <img src="../static/newpage/asset/img1.png" class="sphere s-animtion" alt="sphere">
    </div>
    <div class="right">

        <div class="form-wrappepr">
            <form method="get">
                <h1>您好,欢迎注册!</h1>
                <input type="text" name="email" id="input-email" class="inputs user" placeholder="请输入邮箱">
                <input type="text" name="verify" id="input-verify" class="inputs user" placeholder="请输入验证码">
                <a class="tips" href="javascript:askVerifycode()">获取验证码</a>
                <input type="password" name="password" id="input-password" class="inputs pwd" placeholder="请输入密码">
                <button onclick="javascript:register()">Regiser</button>
                <div class="other-login">
                    <div class="divider">
                        <span class="line"></span>
                        <span class="divider-text">
                            <a class="divider-text" href="login.html">Go To Login</a>
                        </span>
                        <span class="line"></span>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
</body>
<script>
    document.querySelector(".people").addEventListener('animationend', function () {
        this.classList.remove('p-animtion');
        this.classList.add('p-other-animtion')
    });
    document.querySelector(".sphere").addEventListener('animationend', function () {
        this.classList.remove('s-animtion');
        this.classList.add('s-other-animtion')
    });
</script>

</html>